.CategoryPage {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg {
  background-image: url(/src/Assets/backgorunds/background.svg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
