.Homepage {
  text-align: left;
}
.homepageImage {
  background-image: url(/src/Assets/backgorunds/BackgroundFirstPage.png);
  height: 80vh;
  background-position: 50%;
  background-repeat: no-repeat;
}
.flexcontainer {
  align-items: center;
  display: flex;
}

h1 {
  font-weight: bold;
}

.p-style {
  color: #aeb4b7;
  font-size: 13px;
  margin-bottom: 0 !important;
}
