.Homepage {
  text-align: left;
}
.homepageImage {
  background-image: url(/src/Assets/backgorunds/BackgroundFirstPage.png);
  height: 80vh;
  background-position: 50%;
  background-repeat: no-repeat;
}
.flexcontainer {
  align-items: center;
  display: flex;
}
.h1 {
  padding-bottom: 10px;
  font-weight: bold;
}
.bg {
  background-image: url(/src/Assets/backgorunds/background.png);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.pStyle {
  color: #aeb4b7;
  font-size: 13px;
  margin-bottom: 0 !important;
  padding-bottom: 10px;
}
.button:hover {
  color: #6533d0;
  background-color: #f4f4f4;
 
}
.purpleBtn {
  color: #fff;
  background-color: #6530d7;
  padding: 5px 20px;
  border-radius: 5px;
}
