.Footer {
  position: fixed;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
}
.p{
  color:#A5ACAF ;
}
.a{
  padding: 0px 7px 5px 3px;
  color:#6C32DA ;
}
.a:link {
  text-decoration: none;
}

.a:visited {
  text-decoration: none;
}

.a:hover {
  text-decoration: none;
}

.a:active {
  text-decoration: none;
}

.containerfluid {
  width: 85% !important;
}

@media only screen and (max-width: 768px) {
  .Footer {
    position: relative;
  }
}
